swagger: "2.0"
info:
  version: "0.0.1"
  title: Auto Quote API
  description: This is a demonstration of how Swagger is used for modelling the API. We are creating a quote API that is exposed to the aggregators. The schema/messages used in this example are assumed to be driven by the provider and is not using any standard such as ACORD.
# during dev, should point to your local machine
#host: rajeevsakhuja-test.apigee.com
host : gwldemo.mybluemix.net
# basePath prefixes all resource paths 
basePath: /api
# 
schemes:
  - http
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
    ## Retrieve the previously created quotes
    
  /quote:
    get:
      description: Retrieves all the previously created quotes
      responses:
        "200":
          description: Everything works out well.  
          
  /quote/{id}:
    get:
      description : Retrieve the previously created quote
      tags :
        - quote
        - Retrieve
      parameters:
      - name: id
        in : path
        required : true
        type : string
        description : Id of the previously created quote
      responses:
        "200":
          description: successful operation
          schema:
            $ref : "#/definitions/QuoteResponse"
        "404":
          description : Quote note found
          schema:
            $ref : "#/definitions/ValidationError"
        default :
          description: This is generic error response
          schema:
            $ref : "#/definitions/QuoteResponse"
        

# complex objects have schema definitions
definitions:

  ## Schema for the insured
  Insured:
    required:
      - age
      - stateCode
    properties:
      fname:
        type: string
        description: First Name of the insured
      mname:
        type: string
        description: Middle name of the insured
      lname: 
        type : string
        description: Last name of the insured
      gender:
        type: string
        description : f=female, m=male
      age:
        type: integer
        description : age of the insured
      stateCode:
        type: string
        description: State of residence
  ## Vehicle information
  Vehicle:
    properties:
      vin:
        type: string
      make:
        type: string
      model:
        type: string
      year:
        type: integer
    ## Auto products
  AutoProduct:
    properties:
      name:
        type : string
      deductible:
        type:  integer
      liability:
        type:  integer
        description: Liability maximum coverage amount
      collision:
        type:  integer
        description: Collision maximum coverage amount
    ## Quote object
  Quote:
    properties:
      id:
        type: string
        description: Id assigned to the quote object
      insured:
          $ref : "#/definitions/Insured"
      origin:
        type: string
        description: Originator ID - requestor
      products:
        type: array
        items: 
          $ref : "#/definitions/AutoProduct"
    ## Schema for the quote request
  QuoteRequest:
    properties:
      insured:
        $ref : "#/definitions/Insured"
      vehicle:
        $ref : "#/definitions/Vehicle"
      Originator:
        type: string
        description: Identity of the origin
  ## Response for the Quote
  QuoteResponse:
    properties:
      validTill:
        type: string
        format: date
        description: When will th this quote expire
      quote:
        $ref : "#/definitions/Quote"
  ValidationError:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string  